@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-slate-200 dark:border-slate-700;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans antialiased;
}

::selection {
  @apply bg-indigo-600 text-white;
}
